
ul.tabs
{
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
	background-color:#086fb1;
	width:448px;
	float:left;
	}
        
ul.tabs li
{
    display: inline;
    margin-right:0px; /*distance between tabs*/
}
        
ul.tabs li a
{
	text-decoration: none;
	position: relative;
	z-index: 1;
	background: #086fb1;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:12px;
	padding-top:6px;
	text-transform: uppercase;
	font-weight: normal;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    background:#fff;
}
        
ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    background: #fff;;
	color:#000000;
}
        
ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
	background-color:#ffff;
}
        
div.tabcontent
{
    display: block;
}

div.tabcontents
{
    border: 4px solid #086fb1;
    background-color:#FFF;
	float:left;
	width:452px;
	margin-top:2px;
	}