
@charset "utf-8";
@font-face {

	font-family: 'Conv_ufonts.com_helvetica-normal';

	src: url('fonts/ufonts.com_helvetica-normal.eot');

	src: local('☺'), url('fonts/ufonts.com_helvetica-normal.woff') format('woff'), url('fonts/ufonts.com_helvetica-normal.ttf') format('truetype'), url('fonts/ufonts.com_helvetica-normal.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'Conv_HELVETICA BOLD';

	src: url('fonts/HELVETICA BOLD.eot');

	src: local('☺'), url('fonts/HELVETICA BOLD.woff') format('woff'), url('fonts/HELVETICA BOLD.ttf') format('truetype'), url('fonts/HELVETICA BOLD.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'Conv_Helvetica-Light';

	src: url('fonts/Helvetica-Light.eot');

	src: local('☺'), url('fonts/Helvetica-Light.woff') format('woff'), url('fonts/Helvetica-Light.ttf') format('truetype'), url('fonts/Helvetica-Light.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'Conv_HelvLight Regular';

	src: url('fonts/HelvLight Regular.eot');

	src: local('☺'), url('fonts/HelvLight Regular.woff') format('woff'), url('fonts/HelvLight Regular.ttf') format('truetype'), url('fonts/HelvLight Regular.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}

.reg_field { border: 1px solid #E5E5E5; color: #444444; float: left; font-family:'open_sansregular'; font-size: 12px; padding: 8px 5px; width: 95%; }
.header

{

	width:100%;

	float:left;

}

.header > img

{

	float:right;

	margin-top:52px;

}

.logo

{

	width:29%; 

	float:left;

	margin-top:0px;	

}

.logo img

{

	width:100%;

}

table{

	font-size:11px;

}

.tr-class{

	font-size:11px;

	

}

.td-class{

	font-size:11px;


	padding:8px;

}

* {

    margin: 0;

    padding: 0;

}

a{ text-decoration:none !important; color: #A2A296;}

a:hover{ color:#03bccf; text-decoration:underline;}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Conv_Helvetica-Light';

    font-weight: normal;

}

ul{list-style:none;}

img{border:none;}

div.web-layout {margin: 0 auto; padding: 0; width: 960px;}

.web-960{float:left;width:960px;background-color:#fff;font-family: 'Conv_Helvetica-Light';}

.header-form{width:960px; float:left; font-family: 'Conv_Helvetica-Light';}

.header-form #logo{float:left;padding:18px 0 0 28px;width:300px;}

.header-form h2{float:right;font-size:16px;color:#00a3b4;width:229px;padding-top:59px; font-weight:bold; letter-spacing:0.5px;font-family: 'Conv_Helvetica-Light';}

.form-navigation{float:left; width:960px; padding:24px 0 22px 0;font-family: 'Conv_Helvetica-Light';}



.content-wrap{float:left; width:960px;font-family: 'Conv_Helvetica-Light';}

.left-content{float:left; width:723px;font-family: 'Conv_Helvetica-Light';}

.heading{ color: #333333;

    float: left;

    font-family: 'Conv_Helvetica-Light';

    font-size: 20px;

    font-weight: bold;

    height: 22px;

    letter-spacing: 0.5px;

    padding: 7px 0 0 10px;

    text-transform: uppercase;

}

.help-f{ float:right; width:703px; height:18px; text-align:right; padding-top:7px; padding-right:11px;font-family: 'Conv_Helvetica-Light';}

.mpd-form{float:left; width:714px; height:auto; padding-left:10px; font-family: 'Conv_Helvetica-Light';}

.fieldset{ width:692px; height:auto; border:1px solid #e4e4e4; padding:20px 11px 5px 11px; float:left;font-family: 'Conv_Helvetica-Light'; margin-top:10px;}

.fieldset1{ width:692px; height:auto; border:1px solid #e4e4e4; padding:20px 11px 5px 11px; margin-top:20px; float:left;font-family: 'Conv_Helvetica-Light';}

.legend{ font-size:13px; color:#009AAD !important;; font-weight:bold; margin:0 5px 0 15px; font-family: 'Conv_Helvetica-Light';}

.f-row-1{float:left; width:692px; padding:0 0 15px 0; font:13px 'Conv_Helvetica-Light';}

.f-row-2{float:right; width:723px; padding:20px 0 20px 0; text-align:right;font-family: 'Conv_Helvetica-Light';}

.fr-name{ width:221px; float:left; padding:0 0 0 14px; font-family: 'Conv_Helvetica-Light';}

.fl-name{ width:221px; float:left; font-family: 'Conv_Helvetica-Light'; }

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
float: left;
width: 218px !important;
font-family: 'Conv_Helvetica-Light';
color: #333333;
font-size: 14px;
}
a.ui-corner-all {
float: left;
width: 99.2%;
text-decoration: none;
}

lebel{ display:block; padding:3px 0 5px 0; font-size:12px; color:#000000; font-family:'Conv_Helvetica-Light'}

.text-n{ width:219px; height:25px; border:1px solid #cccccc; font-family: 'Conv_Helvetica-Light'; font-size:13px; outline: none; outline-color: #fff;}

.text-ncal{ width:219px; height:25px; border:1px solid #cccccc; background:url(../images/date.jpg) no-repeat right 3px; font:13px 'Conv_Helvetica-Light'; float:left;outline: none; outline-color: #fff;}

#fancybox-content{font-family: 'Conv_Helvetica-Light';}

.text-cert{ width:680px; height:25px; border-bottom:1px dashed #cccccc; border-top:none; border-left:none;font-family: 'Conv_Helvetica-Light';}

.textarea-f{ width:661px; height:62px; border:1px solid #cccccc; font:13px 'Conv_Helvetica-Light';outline: none; outline-color: #fff;}

.f-row-1 h3{font-family: 'Conv_Helvetica-Light'; display:block; color:#2c2c2c; font-size:12px; font-weight:bold; padding:0 0 8px 0; border-bottom:1px dashed #c2c2c2;}

.f-row-1 h4{ font-family: 'Conv_Helvetica-Light';display:block; color:#2c2c2c; font-size:12px; padding:10px 0 8px 0; }

.tx-area{ font-family: 'Conv_Helvetica-Light';float:left; width:auto; padding:13px 5px 5px 5px;}

.tx-areafuns{font-family: 'Conv_Helvetica-Light'; float:left; width:630px; padding:3px 0 3px 0;}

.tx-areada{font-family: 'Conv_Helvetica-Light'; float:left; width:auto;; padding:13px 5px 5px 5px;}

.tx-areamf{ font-family: 'Conv_Helvetica-Light';float:left; width:auto; padding:13px 5px 5px 5px;}

.checkbox{font-family: 'Conv_Helvetica-Light';border:0 none; float:left; font-size:12px; height:18px; border: 1px solid #CCCCCC;}

.ch-field{ float:left; font-size:12px; padding:0 0 0 13px; color:#000000; line-height:18px; font-family: 'Conv_Helvetica-Light';}

.ch-field a{font-family: 'Conv_Helvetica-Light'; color:#65BAB6;}

.sel-bud{ font-family: 'Conv_Helvetica-Light';float:left; width:100%; padding:0 0 5px 0;outline: none; outline-color: #fff;} 

.select-ezi{ float:left; width:217px; height:23px; border: 1px solid #CCCCCC; font:13px 'Conv_Helvetica-Light'; outline: none; outline-color: #fff;}

.side-navigation{ font-family: 'Conv_Helvetica-Light';width:234px; height:256px; border:1px solid #cccccc; }

/*start floating menu*/

div.floating-menu {font-family: 'Conv_Helvetica-Light';position:fixed; background:url(../images/sidenavbg.png) no-repeat 0 0; background-color:#fff4c8;width:218px; height:222px; z-index:100; top:220px; right:0; padding:35px 0 0 17px; color:#474747;}

div.floating-menu a, div.floating-menu h3 {font-family: 'Conv_Helvetica-Light';display:block;margin:0 0.5em; font-size:12px;}

.floating-menu ul{list-style:none;}

.floating-menu ul li{font-family: 'Conv_Helvetica-Light';float:left; padding:7px 0 7px 0;}

/*end floating menu*/

/*start important contact*/

.top-mainform{

	float:left;

	width:713px;

	padding:15px 0 15px 10px;

	font-family: 'Conv_Helvetica-Light';

	}

.topcont{font-family: 'Conv_Helvetica-Light'; display:block; padding:8px 0 12px 0; font-size:12px; line-height:18px;}

.key-cont{ float:left; width:713px;}

.p-sub{

	font-family: 'Conv_Helvetica-Light';

    font-size: 15px;

    line-height: 18px;

    padding: 0 10px 10px;

    text-align: justify;

}

.h2{ font-family: 'Conv_Helvetica-Light'; font-size:15px; text-transform:uppercase; padding:0 0 8px 0; font-weight:800; color:#2c2c2c; display:block;}

.h3{ font-family: 'Conv_Helvetica-Light'; font-size:13px; font-weight:bold; display:block; padding:4px 0 8px 0; }

.h4{ font-family: 'Conv_Helvetica-Light'; font-size:14px; font-weight:bold; display:block; padding:0 0 8px 0; text-align:center; text-transform:uppercase;}

.inner-tabel{font-family: 'Conv_Helvetica-Light'; float:left; width:715px; border:1px solid #e4e4e4;}

.cont-head{font-family: 'Conv_Helvetica-Light';width:715px; height:28px; background-color:#edeaea; }

.cont-head ul{font-family: 'Conv_Helvetica-Light'; list-style:none;}

.cont-head ul li{ font-family: 'Conv_Helvetica-Light';display:inline;   text-transform: uppercase; float:left; display:inline; padding:7px 0 7px 0; width:230px; text-align:center;}

.cont-head01{font-family: 'Conv_Helvetica-Light';width:715px; height:28px; background-color:#edeaea; }

.cont-head01 ul{font-family: 'Conv_Helvetica-Light';list-style:none;}

.cont-head01 ul li{ font-family: 'Conv_Helvetica-Light';   text-transform: uppercase; display:inline; float:left; display:inline; padding:7px 37px 7px 38px;}

.cont-head02{font-family: 'Conv_Helvetica-Light';width:715px; height:28px; background-color:#edeaea; }

.cont-head02 ul{font-family: 'Conv_Helvetica-Light'; list-style:none;}

.cont-head02 ul li{font-family: 'Conv_Helvetica-Light';   text-transform: uppercase; display:inline; float:left; display:inline; padding:7px 24px 7px 23px;}

.cont-head03{font-family: 'Conv_Helvetica-Light';width:715px; height:28px; background-color:#edeaea; }

.cont-head03 ul{ font-family: 'Conv_Helvetica-Light';list-style:none;}

.cont-head03 ul li{ font-family: 'Conv_Helvetica-Light';   text-transform: uppercase; display:inline; float:left; display:inline; padding:7px 115px 7px 115px;}

.blue{font-family: 'Conv_Helvetica-Light'; color:#fff/*0096a8*/; font-size:12px; text-transform:uppercase;background-color: #5ACAD3; border-radius: 7px 7px 7px 7px; display: inline-block;padding: 4px 0px 8px 0px;}
.gray{background: linear-gradient(to bottom, #F9C100 0%, #FFA200 100%) repeat scroll 0 0 transparent !important;
-moz-border-radius: 6px;
-webkit-border-radius: 7px;
border-radius: 7px;
display: inline-block;
padding: 8px 21px;
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
font-family: 'Conv_Helvetica-Light';
color: #fff; }
/*shruti*/
/*.blue { background-color: #5ACAD3; border-radius: 7px 7px 7px 7px; display: inline-block; padding: 3px 12px; }*/
/*.blue:hover { background-color: #989898; }
.gray:hover { background: #5ACAD3 !important; }*/
/*.gray { background: linear-gradient(to bottom, #F9C100 0%, #FFA200 100%) repeat scroll 0 0 transparent !important; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; display: inline-block; padding: 3px 4px; text-decoration: none; }*/

/*ends*/

.blue1{font-family: 'Conv_Helvetica-Light'; color:#0096a8; font-size:12px; text-transform:uppercase; font-weight:bold;}

.inn-cinfo{ font-family: 'Conv_Helvetica-Light';float:left; width:693px; padding:20px 10px 10px 10px;}

.inn-cinfo ul{font-family: 'Conv_Helvetica-Light';}

.inn-cinfo ul li{font-family: 'Conv_Helvetica-Light'; display:inline; float:left; display:inline; padding:7px 0 7px 7px;}

.ontintext{font-family: 'Conv_Helvetica-Light'; width:219px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.ontintext01{font-family: 'Conv_Helvetica-Light'; width:162px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.ontintext02{font-family: 'Conv_Helvetica-Light'; width:162px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.ontintext03{font-family: 'Conv_Helvetica-Light'; width:335px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.selectcont{font-family: 'Conv_Helvetica-Light'; width:219px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.selectcont01{font-family: 'Conv_Helvetica-Light'; width:162px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.selectcont02{ font-family: 'Conv_Helvetica-Light';width:327px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left;}

.buttoncl{ font-family: 'Conv_Helvetica-Light';float:left; width:665px; text-align:right; padding-right:10px;}

.addbut{font-family: 'Conv_Helvetica-Light'; width:69px; height:25px; background-color:#4c4c4c; color:#FFFFFF; border:1px solid #666666; cursor:pointer;}


.font13 {
    font-family: 'Conv_Helvetica-Light';
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
    width: 700px;
}
.bold{ font-family: 'Conv_Helvetica-Light'; font-size:12px; font-weight:bold; display:block; padding:4px 0 8px 0; }

.ontintext-tbl{font-family: 'Conv_Helvetica-Light'; width:215px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left; margin-left:5px;}

.ontintext01-tbl{font-family: 'Conv_Helvetica-Light'; width:162px; height:25px; border:1px solid #cccccc; margin-bottom:14px; float:left; margin-left:5px;}

input[type="image"] {
outline: none !important;
}

.gree_pas {
color: #009aad;
}